.PostListing {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(var(--width, 320px), 100%), 1fr));
    gap: 2rem;
}
.BlogHeader {
    @apply flex flex-wrap items-end justify-between gap-4;
}