@import 'tailwindcss';
@import "tw-animate-css";
@config "../tailwind.config.js";
@plugin '../hero.ts';

/* Note: You may need to change the path to fit your project structure */
/* @source '../../node_modules/@heroui/theme/dist*.{js,ts,jsx,tsx}'; */
/* @custom-variant dark (&:is(.dark *)); */

@layer base {
    :root {
        --background: #fff;
        --background-primary: linear-gradient(
            97deg,
            hsl(var(--heroui-primary)) 0%,
            hsl(var(--heroui-secondary)) 100%
        );
        --foreground: #2B2A28;
        --grid-template-columns: repeat(auto-fill, minmax(min(var(--col-width, 288px), 100%), 1fr));
        --product-gradient: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.75) 20.000000298023224%,
            rgba(255, 255, 255, 1) 50%
        );
    }

    html {
        scroll-behavior: smooth;
    }
}

@layer components {
    .bento-grid-template {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, var(--row-height, 300px));

        & > :nth-child(4n + 1) {
            grid-row: span 2;
        }
    }
}

@layer utilities {
    .bg-brand-gradient {
        background-image: var(--background-primary);
    }

    .text-fill-transparent {
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-results-button,input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}