@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #fff;
    --background-primary: linear-gradient(
        97deg,
        theme('colors.primary') 0%,
        theme('colors.secondary') 100%
      );
    --foreground: #2B2A28;
    --grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

html {
    scroll-behavior: smooth;
}

@layer utilities {
    .text-fill-transparent {
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}